.w-input-container > app-button {
    border: 1px solid var(--input-border-color);
    border-radius: var(--default-border-radius);
}

.my-buttons {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: end;

    & > .splitter {
        margin-left: auto;
    }
}

.display-none {
    display: none;
}