<div class="w-card w-clickable my-card" (click)="selectFacility()">
    <div appElementRef class="facility-name">{{facility?.name}}</div>

    <div class="w-overlay"></div>

    <app-button #optionsButton="elementRef" appElementRef icon="ellipsis-v" look="transparent"
        [style.margin-left]="'auto'" [isCircle]="true" (onClick)="contextMenu.open()">
    </app-button>

</div>

<app-context-menu #contextMenu [relativeTo]="optionsButton.elementRef">
    <app-button text="{{'EDIT' | translate}}" icon="pen" (onClick)="facilityEdit.startEdit()"></app-button>
    <app-button text="{{'DELETE' | translate}}" color="danger" icon="trash" (onClick)="openDeleteDialog()"></app-button>
</app-context-menu>

<app-dialog #deleteDialog>
    <div class="delete-dialog-text">{{"pages.facilities.DELETE_PROMPT_1" | translate}} <b>{{facility?.name}}</b>?
        {{"pages.facilities.DELETE_PROMPT_2" | translate}} <b>{{"pages.facilities.DELETE_PROMPT_3" | translate}}</b>!
    </div>
    <br>
    <div class="delete-dialog-text">{{"pages.facilities.DELETE_PROMPT_4" | translate}} - {{facility?.name}}</div>
    <div class="delete-dialog-inputs">
        <input class="w-input" type="text" placeholder="{{'pages.facilities.FACILITY_NAME' | translate}}"
            [(ngModel)]="deleteName">
        <app-button text="{{'DELETE' | translate}}" color="danger" look="solid"
            [disabled]="deleteName != facility?.name || isDeleting" [isLoading]="isDeleting"
            (onClick)="deleteFacility()"></app-button>
    </div>
</app-dialog>

<app-facility-edit #facilityEdit [facility]="facility"></app-facility-edit>