<app-loading *ngIf="service == null"></app-loading>
<div *ngIf="service != null">
    <div class="w-title" *ngIf="isNew">{{"pages.services.NEW_SERVICE" | translate}}</div>
    <div class="w-title" *ngIf="!isNew">{{"pages.services.SERVICE" | translate}} - {{originalName}}</div>

    <div class="w-input-container">
        <div class="w-label">{{'NAME' | translate}}</div>
        <input class="w-input" type="text" [style.width]="'100%'" placeholder="{{'NAME' | translate}}"
            [(ngModel)]="service.name">
        <div class="w-validation-message">{{ service.getValidationErrors("name") | translate }}</div>
    </div>
    <div class="w-input-container">
        <div class="w-label">{{'DISPLAY_NAME' | translate}}</div>
        <input class="w-input" type="text" [style.width]="'100%'" [placeholder]="service.name ?? ('DISPLAY_NAME' | translate)"
            [(ngModel)]="service.displayName">
        <div class="w-validation-message">{{ service.getValidationErrors("displayName") | translate }}</div>
    </div>
    <div class="w-input-container">
        <div class="w-label">{{'pages.services.COLOR' | translate}}</div>
        <app-service-color-picker [(colorId)]="service.colorId"></app-service-color-picker>
        <div class="w-validation-message">{{ service.getValidationErrors("colorId") | translate }}</div>
    </div>
    <div class="w-input-container">
        <div class="w-label">{{'pages.services.DURATION' | translate}}</div>
        <app-duration-picker [includeZero]="false" [numberOfChoices]="36" [(value)]="service.duration">
        </app-duration-picker>
        <div class="w-validation-message">{{ service.getValidationErrors("duration") | translate }}</div>
    </div>

    <app-action-bar>
        <app-button *ngIf="!isNew && !service.isArchived" [text]="'DELETE' | translate" icon="trash" color="danger"
            look="solid" [disabled]="isLoading" [isLoading]="isLoadingDelete" (onClick)="deleteService()">
        </app-button>
        <app-button *ngIf="!isNew && !service.isArchived" [isCircle]="false" icon="box-archive" color="warning"
            look="solid" [disabled]="isLoading" [isLoading]="isLoadingArchive" (onClick)="archiveService()">
        </app-button>
        <app-button *ngIf="!isNew && service.isArchived" [text]="'UNARCHIVE' | translate" icon="box-archive" color="warning"
            look="solid" [disabled]="isLoading" [isLoading]="isLoadingArchive" (onClick)="unarchiveService()">
        </app-button>
        <app-button flex-splitter [text]="'CANCEL' | translate" color="danger" look="normal" [disabled]="isLoading"
            (onClick)="cancel()"></app-button>
        <app-button [text]="'SAVE' | translate" color="success" look="solid" [disabled]="isLoading"
            [isLoading]="isLoadingSave" (onClick)="save()"></app-button>
    </app-action-bar>
</div>