:host {
    display: block;
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(var(--rgb-input-border));
    border-radius: var(--default-border-radius);
}

.status-item {
    display: flex;
    gap: 2px;
    margin-right: 5px;

    .status-item-contents {
        display: flex;
        gap: 5px;
    }
}

.clear-button {
    position: absolute;
    right: 2px;
    top: 2px
}

.single-status-button {

    &:not(:first-child) {
        border-top: solid 1px rgb(var(--rgb-input-border));
    }

    &.selected {
        font-weight: bold;
    }
}