<div class="time-off-row" [class.removed]="removed" (click)="onOpenView.emit()" data-test="time-off-row">
  <div class="accent" [class.accent-removed]="removed"></div>
  <div class="info">
    <div class="label">
      <span [class.struck]="removed">{{ label }}</span>
      <span *ngIf="badge === 'edited'" class="badge badge-edited" data-test="holiday-badge-edited">{{ "pages.time-off.EDITED" | translate }}</span>
      <span *ngIf="badge === 'removed'" class="badge badge-removed" data-test="holiday-badge-removed">{{ "pages.time-off.REMOVED" | translate }}</span>
    </div>
    <div class="meta">
      <div class="meta-primary">
        <span class="schedule">{{ schedule }}</span>
        <span class="time">{{ time }}</span>
      </div>
      <span class="date-range" *ngIf="dateRange">{{ dateRange }}</span>
    </div>
  </div>
  <fa-icon class="type-icon" [icon]="['fas', 'umbrella-beach']" aria-hidden="true"></fa-icon>
</div>
