<app-loading *ngIf="isLoading"></app-loading>
<div *ngIf="!isLoading && appointment != null">
    <div class="title">{{"pages.appointments.APPOINTMENT" | translate}}</div>
    <div class="service">
        <div class="service-name">{{appointment.service?.name}}</div>
        <div class="duration">- {{$any(appointment.duration) | formatDuration}}</div>
    </div>
    <div class="date-time">
        <div class="date">
            {{appointment.date?.format("DD.MM.YYYY")}}
        </div>
        <div class="time">
            {{appointment.time?.format("HH:mm")}} -
            {{appointment.time?.add($any(appointment.duration))?.format("HH:mm")}}
        </div>
    </div>
    <app-button class="client-button" (onClick)="goToClient($any(appointment.client?.id))">
        <div class="client">
            <div class="client-column">
                <div class="nickname">{{appointment.client?.nickname}}</div>
                <div class="full-name">{{appointment.client?.name}} {{appointment.client?.surname}}</div>
            </div>
            <div class="client-column">
                <div class="phone-number">{{appointment.client?.phoneNumber}}</div>
                <div class="email">{{appointment.client?.email}}</div>
            </div>
        </div>
    </app-button>
    <div class="status">
        <div class="status-title">{{'STATUS' | translate}}:</div>
        <div class="status-content">
            <div class="status-display" [ngStyle]="{'color': 'var(--' + (appointment.status | appointmentStatusInfo)?.color + ')'}">
                <fa-icon
                    [icon]="[(appointment.status | appointmentStatusInfo)?.iconPrefix ?? 'fas', $any((appointment.status | appointmentStatusInfo)?.iconName)]"></fa-icon>
                {{appointment.status | uppercase | translate}}
            </div>
            <app-button *ngIf="appointment.status == 'Unconfirmed'" (onClick)="onChangeStatus('Confirmed')"
                [text]="'CONFIRM' | translate" color="success" look="normal" icon="check"
                [disabled]="isLoadingStatusChange" [isLoading]="isLoadingStatusChange"></app-button>
            <app-button *ngIf="appointment.status == 'Confirmed'" (onClick)="onChangeStatus('Unconfirmed')"
                [text]="'UNCONFIRM' | translate" color="warning" look="normal" icon="question"
                [disabled]="isLoadingStatusChange" [isLoading]="isLoadingStatusChange"></app-button>
        </div>
    </div>
    <div class="notes" *ngIf="appointment.notes != null && appointment.notes != ''">
        <div class="notes-title">{{'pages.appointments.NOTES' | translate}}:</div>
        <div class="notes-body">{{appointment.notes}}</div>
    </div>
    <div class="created-updated-at">
        <div>
            <div>{{'CREATED_AT' | translate}}:</div>
            <div>{{appointment.createdAt?.format("DD.MM.YYYY HH:mm")}}</div>
        </div>
        <div>
            <div>{{'LAST_UPDATED_AT' | translate}}:</div>
            <div>{{appointment.lastUpdatedAt?.format("DD.MM.YYYY HH:mm")}}</div>
        </div>
    </div>
    <div *ngIf="editable" class="action-bar">
        <app-button icon="trash" color="danger" look="solid" text="{{'DELETE' | translate}}"
            [disabled]="isLoadingDelete" [isLoading]="isLoadingDelete" (onClick)="onDelete()">
        </app-button>
        <app-button style="margin-left: auto" icon="pen" text="{{'EDIT' | translate}}" (onClick)="goToEdit()">
        </app-button>
    </div>
</div>