<div class="my-container" [ngClass]="{'compact' : compact}">
    <app-button icon="angle-left" alignContent="center" [isCircle]="false" [curved]="false" [curvedBottomLeft]="true"
        [curvedTopLeft]="true" [curvedBottomRight]="false" [curvedTopRight]="false"
        (onClick)="date = date.add(-1, 'days')">
    </app-button>
    <app-button class="date-button" [text]="compact ? date.format('DD.MM.YY') : date.format('DD.MM.YYYY')"
        alignContent="center" [curved]="false" (onClick)="calendarDialog.open()">
    </app-button>
    <app-button icon="angle-right" alignContent="center" [isCircle]="false" [curved]="false" [curvedBottomLeft]="false"
        [curvedTopLeft]="false" [curvedBottomRight]="true" [curvedTopRight]="true"
        (onClick)="date = date.add(1, 'days')">
    </app-button>
</div>

<app-dialog #calendarDialog>
    <mat-calendar class="my-calendar" [(selected)]="date" [headerComponent]="calendarTodayHeaderComponent"
        (selectedChange)="calendarDialog.close()"></mat-calendar>
</app-dialog>