.my-container {
    display: flex;
}

:host::ng-deep {
    .my-container {
        .date-button {
            div {
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }

    .my-container.compact {
        .date-button {
            div {
                padding-left: 2px;
                padding-right: 2px;
            }
        }
    }
}