<div class="appointments-container">
    <app-appointments-scroller [daysToShow]="1" [date]="date"></app-appointments-scroller>
</div>

<div class="floating-action-bar">
    <app-button class="button-shadow" icon="plus" color="success" look="solid" alignContent="center"
        (onClick)="goToNew()">
    </app-button>
    <div class="button-shadow button-group">
        <app-button icon="angle-left" alignContent="center" [isCircle]="false" [curved]="false"
            [curvedBottomLeft]="true" [curvedTopLeft]="true" [curvedBottomRight]="false" [curvedTopRight]="false"
            (onClick)="date = date.clone().add({days: -1})">
        </app-button>
        <app-button class="date-button" [text]="date.format('DD.MM.yyyy')" alignContent="center" [curved]="false"
            (onClick)="calendarDialog.open()">
        </app-button>
        <app-button icon="angle-right" alignContent="center" [isCircle]="false" [curved]="false"
            [curvedBottomLeft]="false" [curvedTopLeft]="false" [curvedBottomRight]="true" [curvedTopRight]="true"
            (onClick)="date = date.clone().add({days: 1})">
        </app-button>
    </div>
</div>

<app-dialog #calendarDialog>
    <mat-calendar class="my-calendar" [(selected)]="date" [headerComponent]="calendarTodayHeaderComponent"
        (selectedChange)="calendarDialog.close()"></mat-calendar>
</app-dialog>