.context-menu-container {
    background-color: rgb(var(--rgb-input-background));
    border-radius: var(--default-border-radius);
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0 3px 9px 0px rgb(var(--rgb-focus-outline));
    overflow: overlay;
    overscroll-behavior: contain;
}

::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(var(--rgb-input-border));
    border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(var(--rgb-focus-outline));
}