<!-- Navigation -->
<div>
  <div class="navigation-bar">
    <div class="navigation-bar-content"
      [style]="'--navigation-bar-item-count: ' + navigations.filter(visibleNavigation).length">
      <div *ngFor="let item of navigations.filter(visibleNavigation)" class="navigation-button w-clickable"
        [routerLink]="item.link" [routerLinkActive]="'active'">
        <div class="icon">
          <fa-icon [icon]="item.icon"></fa-icon>
        </div>
        <div class="name">{{item.name | translate}}</div>

        <div class="w-overlay-dark"></div>
      </div>

      <div #dropdownButton="elementRef" appElementRef class="navigation-button w-clickable bars"
        [ngClass]="{'display-none': dropdownNavigations.filter(visibleNavigation).length == 0}"
        (click)="navigationDropdown.toggle()">
        <div class="icon">
          <fa-icon icon="bars"></fa-icon>
        </div>
        <div class="w-overlay-dark"></div>
      </div>

      <div class="pickers" *ngIf="dropdownNavigations.filter(visibleNavigation).length == 0">
        <app-color-scheme-picker></app-color-scheme-picker>
        <app-language-picker></app-language-picker>
      </div>
    </div>
  </div>
  <app-context-menu #navigationDropdown [relativeTo]="dropdownButton.elementRef" [viewportMargin]="0">
    <div class="navigation-dropdown">
      <app-selected-facility *ngIf="this.authService.isLoggedIn() && this.facilityService.getSelected()">
      </app-selected-facility>

      <div *ngFor="let item of dropdownNavigations.filter(visibleNavigation)" class="navigation-button w-clickable"
        [routerLink]="item.link" [routerLinkActive]="'active'">
        <div class="icon">
          <fa-icon [icon]="item.icon" [fixedWidth]="true"></fa-icon>
        </div>
        <div class="name">{{item.name | translate}}</div>

        <div class="w-overlay-dark"></div>
      </div>

      <div *ngIf="authService.isLoggedIn()" class="navigation-button w-clickable" (click)="logOut()">
        <div class="icon">
          <fa-icon icon="right-from-bracket" [fixedWidth]="true"></fa-icon>
        </div>
        <div class="name">{{"LOGOUT" | translate}}</div>

        <div class="w-overlay-dark"></div>
      </div>

      <div class="pickers">
        <app-color-scheme-picker></app-color-scheme-picker>
        <app-language-picker></app-language-picker>
      </div>
    </div>
  </app-context-menu>
  <div class="navigation-bar-shadow"></div>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="mt-2">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>

  <div class="bottom-spacer"></div>
</div>