@media (min-width: 1600px) {
    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
        max-width: 1500px;
    }
}

:host::ng-deep .navbar-nav {
    width: 100%;
}

.my-navbar {
    background-color: var(--primary-color);
}

.navbar-brand {
    color: white;
}

.nav-link {
    color: white;
    cursor: pointer;
}

.navbar-text {
    color: white;
}

.active {
    font-weight: bold;
}

.splitter {
    margin-left: auto;
}

:host::ng-deep app-button.navbar-toggler > .my-button {
    color: var(--anti-text);
}
