.calendar-header {
    display: flex;
    padding-bottom: 10px;
    align-items: center;
}

:host::ng-deep {
    .arrow-button {
        width: 2rem;
        height: 2rem;
    
        .my-button {
            width: 100%;
            height: 100%;
        }
    }

    .bold-button {
        .my-button {
            font-weight: bold;
        }
    }
}
