<div class="calendar-header">
    <app-button data-test="calendar-period-button" [text]="periodLabel" (onClick)="periodLabelClick()"
        look="transparent" alignContent="center">
    </app-button>

    <app-button [ngClass]="{'bold-button': isTodaySelected()}" [style.marginLeft]="'auto'"
        text="{{'TODAY' | translate}}" look="transparent" alignContent="center" (onClick)="todayClick($event)">
    </app-button>

    <div>
        <app-button data-test="calendar-previous-button" class="arrow-button" icon="angle-left" look="transparent"
            alignContent="center" (onClick)="previousClick()"></app-button>
        <app-button data-test="calendar-next-button" class="arrow-button" icon="angle-right" look="transparent"
            alignContent="center" (onClick)="nextClick()"></app-button>
    </div>
</div>