<app-loading *ngIf="isLoading"></app-loading>

<div *ngIf="!isLoading && timeOff != null" class="time-off-details">
  <div class="header">
    <fa-icon [icon]="['fas', 'umbrella-beach']" aria-hidden="true"></fa-icon>
    <div class="title">{{ timeOff.label }}</div>
  </div>

  <div class="info-card">
    <div class="info-row">
      <fa-icon icon="calendar-days" [fixedWidth]="true"></fa-icon>
      <div>{{ schedule }}</div>
    </div>
    <div class="info-row">
      <fa-icon icon="clock" [fixedWidth]="true"></fa-icon>
      <div>{{ time }}</div>
    </div>
  </div>

  <div class="notes" *ngIf="timeOff.notes != null && timeOff.notes != ''">
    <div class="notes-title">{{ "pages.time-off.NOTES" | translate }}</div>
    <div class="notes-body">{{ timeOff.notes }}</div>
  </div>

  <div class="action-bar">
    <app-button data-test="time-off-edit-button" style="margin-left: auto" icon="pen"
      [text]="'EDIT' | translate" (onClick)="goToEdit()">
    </app-button>
  </div>
</div>
