:host {
    display: block;
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(var(--rgb-input-border));
    border-radius: var(--default-border-radius);
}

.clear-button {
    position: absolute;
    right: 2px;
    top: 2px
}

.search-input-container {
    margin: 5px;
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 5px;
}

.validation-error {
    margin: 0 10px;
    margin-bottom: 5px;
}

.no-clients-found {
    margin: 20px 0;

    font-size: 1.5rem;

    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.single-client-button {
    border-top: solid 1px rgb(var(--rgb-input-border));
}

.single-client-container {
    width: 100%;

    display: flex;
    justify-content: space-between;

    &.selected {
        font-weight: bold;
    }
}