<div class="w-title">{{"pages.services.SERVICES" | translate}}</div>

<app-loading *ngIf="services == null"></app-loading>
<div *ngIf="services != null">
    <app-button class="mb-3" width="100%" text="{{'pages.services.NEW_SERVICE' | translate}}" icon="plus" color="success"
        look="outlined" borderStyle="dashed" alignContent="center" (onClick)="goToNew()"></app-button>

    <div *ngFor="let s of services" class="w-clickable w-card single-service-outer-container" (click)="goToEdit(s.id)">
        <div class="service-color-bar" [ngStyle]="{ 'background-color': serviceColorsService.get(s.colorId) }"></div>
        <div class="single-service-container">
            <div>{{s.name}}</div>
            <div>{{'pages.services.DURATION' | translate}}: {{formatDuration(s.duration)}}</div>
        </div>

        <div class="w-overlay"></div>
    </div>
</div>