:host {
    position: relative;
    display: block;
}

:host::ng-deep {
    app-button.new-button {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -9px) scale(2);

        width: 34px;
        height: 34px;
        z-index: 1;

        div.my-button {
            box-shadow: 0 0 8px -2px black;
        }
    }
}

::ng-deep .back-to-today-button {
    position: fixed;
    bottom: 135px;

    div.my-button {
        box-shadow: 0 2px 8px -2px var(--text);
    }
}

.filter-title {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.filter-action-bar {
    display: flex;
    gap: 5px;
    margin-top: 10px;
}
