.w-input-container > app-button {
    border: 1px solid rgb(var(--rgb-input-border));
    border-radius: var(--default-border-radius);
}

.display-none {
    display: none;
}

.notes-text-area {
    height: 10rem;
}