:host {
    display: block;
    border-width: 1px;
    border-style: solid;
    border-color: var(--input-border-color);
    border-radius: var(--default-border-radius);
}

.search-input {
    margin: 5px;
}

.no-services-found {
    margin: 20px 0;

    font-size: 1.5rem;

    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
