<div class="w-title">{{'pages.facilities.FACILITIES' | translate}}</div>


<div class="facilities-container">
    <app-button width="100%" text="{{'pages.facilities.NEW_FACILITY' | translate}}" icon="plus" color="success"
        look="outlined" borderStyle="dashed" alignContent="center" (onClick)="facilityEdit.startAddNew()"></app-button>

    <app-single-facility data-test="single-facility" *ngFor="let facility of facilityService.myFacilities"
        [facility]="facility">
    </app-single-facility>
</div>

<app-facility-edit #facilityEdit></app-facility-edit>