<div *ngIf="renderedAppointment != null" class="appointment" [attr.data-date]="renderedAppointment.dateISO"
    [attr.data-appId]="renderedAppointment.id" (click)="onOpenView.emit()">
    <div class="color" [style.backgroundColor]="renderedAppointment.serviceColor"></div>
    <div class="info-container">
        <div class="top-row">
            <div class="date" *ngIf="showDate">
                {{renderedAppointment.dateFormatted}}
            </div>
            <div data-test="single-appointment-time" class="time">{{renderedAppointment.time}}</div>
            <div data-test="single-appointment-service" class="service">{{renderedAppointment.service}}</div>
        </div>

        <div data-test="single-appointment-client" class="client">{{renderedAppointment.client}}</div>
    </div>
    <app-appointment-status-icons class="status-icons" [hasNotes]="renderedAppointment.hasNotes"
        [status]="renderedAppointment.status" [previousNoShow]="renderedAppointment.previousNoShow"
        [isFirstAppointment]="renderedAppointment.isFirstAppointment"></app-appointment-status-icons>
</div>