<div *ngIf="renderedAppointment != null" class="appointment" [attr.data-date]="renderedAppointment.dateISO"
    [attr.data-appId]="renderedAppointment.id" (click)="onOpenView.emit()">
    <div class="color" [style.backgroundColor]="renderedAppointment.serviceColor"></div>
    <div class="info-container">
        <div class="top-row">
            <div class="date" *ngIf="showDate">
                {{renderedAppointment.dateFormatted}}
            </div>
            <div data-test="single-appointment-time" class="time">{{renderedAppointment.time}}</div>
            <div data-test="single-appointment-service" class="service">{{renderedAppointment.service}}</div>
        </div>

        <div data-test="single-appointment-client" class="client">{{renderedAppointment.client}}</div>
    </div>
    <div class="status-icon-container">
        <fa-icon *ngIf="renderedAppointment.hasNotes" [icon]="['far', 'file-lines']" [fixedWidth]="true"></fa-icon>
        <fa-icon *ngIf="renderedAppointment.status == 'Unconfirmed'" class="warn" icon="question"
            [fixedWidth]="true"></fa-icon>
        <fa-icon *ngIf="renderedAppointment.status == 'NoShow'" class="danger" icon="user-slash"
            [fixedWidth]="true"></fa-icon>
    </div>
</div>