<app-loading *ngIf="client == null"></app-loading>
<div *ngIf="client != null">
    <div class="w-title" *ngIf="isNew">{{"pages.clients.NEW_CLIENT" | translate}}</div>
    <div class="w-title" *ngIf="!isNew">{{"pages.clients.CLIENT" | translate}} - {{originalFullname}}</div>

    <div class="w-input-container">
        <div class="w-label">{{'pages.clients.NAME' | translate}}</div>
        <input class="w-input" type="text" [style.width]="'100%'" placeholder="{{'pages.clients.NAME' | translate}}"
            [(ngModel)]="client.name">
        <div class="w-validation-message">{{ client.getValidationErrors("name") | translate }}</div>
    </div>
    <div class="w-input-container">
        <div class="w-label">{{'pages.clients.SURNAME' | translate}}</div>
        <input class="w-input" type="text" [style.width]="'100%'" placeholder="{{'pages.clients.SURNAME' | translate}}"
            [(ngModel)]="client.surname">
        <div class="w-validation-message">{{ client.getValidationErrors("surname") | translate }}</div>
    </div>
    <div class="w-input-container">
        <div class="w-label">{{'pages.clients.CONTACTS' | translate}}</div>
        <div *ngFor="let contact of client.contacts; let i = index" class="contact-container">
            <div class="contact-input-container">
                <app-button class="contact-type" iconPrefix="fab" [icon]="getContactTypeIcon(contact.type)"
                    look="transparent" (onClick)="openContact(contact)"></app-button>
                <input class="w-input" type="text" [style.width]="'100%'"
                    placeholder="{{'pages.clients.CONTACT' | translate}}" [(ngModel)]="contact.value">

                <app-button *ngIf="i == 0" color="warning" look="transparent" icon="star"></app-button>
                <app-button *ngIf="i != 0" color="normal" look="transparent" icon="arrow-up"
                    (onClick)="moveContactUp(i)"></app-button>
                <app-button color="danger" look="transparent" icon="trash" (onClick)="deleteContact(i)"></app-button>
            </div>
            <div class="w-validation-message">{{ contact.getValidationErrors("value") | translate }}</div>
        </div>
        <app-button #addContactButton="elementRef" appElementRef borderStyle="dashed" color="success" look="outlined"
            icon="plus" text="{{'pages.clients.ADD_CONTACT' | translate}}"
            (onClick)="contactTypeContextMenu.open()"></app-button>

        <app-context-menu #contactTypeContextMenu [relativeTo]="addContactButton.elementRef" [copyOriginWidth]="true">
            <app-button iconPrefix="fab" icon="instagram" text="Instagram"
                (onClick)="addNewContact('Instagram')"></app-button>
            <app-button iconPrefix="fab" icon="whatsapp" text="WhatsApp"
                (onClick)="addNewContact('WhatsApp')"></app-button>
        </app-context-menu>
    </div>
    <div class="w-input-container">
        <div class="w-label">{{'pages.clients.NOTES' | translate}}</div>
        <textarea class="w-input notes-text-area" type="text" [style.width]="'100%'"
            placeholder="{{'pages.clients.NOTES' | translate}}" [(ngModel)]="client.notes"></textarea>
        <div class="w-validation-message">{{ client.getValidationErrors("notes") | translate }}</div>
    </div>

    <app-action-bar #actionBar>
        <app-action-dropdown [isDropdown]="actionBar.isFloating">
            <app-button *ngIf="!isNew && !client.isArchived" [text]="'DELETE' | translate" icon="trash" color="danger"
                look="solid" [disabled]="isLoading" [isLoading]="isLoadingDelete" (onClick)="deleteClient()">
            </app-button>
            <app-button *ngIf="!isNew && !client.isArchived" [text]="'DO_ARCHIVE' | translate" icon="box-archive"
                color="warning" look="solid" [disabled]="isLoading" [isLoading]="isLoadingArchive"
                (onClick)="archiveClient()">
            </app-button>
            <app-button *ngIf="!isNew && client.isArchived" [text]="'UNARCHIVE' | translate" icon="box-archive"
                color="warning" look="solid" [disabled]="isLoading" [isLoading]="isLoadingArchive"
                (onClick)="unarchiveClient()">
            </app-button>
        </app-action-dropdown>
        <app-button *ngIf="!isNew" icon="calendar-week" (onClick)="goToFilteredAppointments()"></app-button>
        <app-button flex-splitter [text]="'CANCEL' | translate" color="danger" look="normal" [disabled]="isLoading"
            (onClick)="cancel()"></app-button>
        <app-button [text]="'SAVE' | translate" color="success" look="solid" [disabled]="isLoading"
            [isLoading]="isLoadingSave" (onClick)="save()"></app-button>
    </app-action-bar>
</div>

<!-- <app-dropdown #contactTypeDropdown [items]="['instagram', 'whatsapp']"></app-dropdown> -->