.notes-text-area {
    height: 10rem;
}

.input-with-buttons {
    position: relative;

    .w-input {
        padding-right: 40px;
    }

    app-button {
        position: absolute;
        top: 3px;
        right: 3px;
    }
}

.contact-container {
    margin-bottom: 10px;
}

::ng-deep .contact-input-container {
    display: flex;
    align-items: stretch;
    gap: 5px;

    >app-button.contact-type>.my-button { 
        font-size: 1.3rem;
    }
}