<app-loading *ngIf="client == null"></app-loading>
<div *ngIf="client != null">
    <div class="w-title" *ngIf="isNew">{{"pages.clients.NEW_CLIENT" | translate}}</div>
    <div class="w-title" *ngIf="!isNew">{{"pages.clients.CLIENT" | translate}} - {{originalNickname}}</div>

    <div class="w-input-container">
        <div class="w-label">{{'pages.clients.NAME' | translate}}</div>
        <input class="w-input" type="text" [style.width]="'100%'" placeholder="{{'pages.clients.NAME' | translate}}"
            [(ngModel)]="client.name">
        <div class="w-validation-message">{{ client.getValidationErrors("name") | translate }}</div>
    </div>
    <div class="w-input-container">
        <div class="w-label">{{'pages.clients.SURNAME' | translate}}</div>
        <input class="w-input" type="text" [style.width]="'100%'" placeholder="{{'pages.clients.SURNAME' | translate}}"
            [(ngModel)]="client.surname">
        <div class="w-validation-message">{{ client.getValidationErrors("surname") | translate }}</div>
    </div>
    <div class="w-input-container">
        <div class="w-label">{{'pages.clients.NICKNAME' | translate}}</div>
        <input class="w-input" type="text" [style.width]="'100%'"
            [placeholder]="getGeneratedNickname() ?? ('pages.clients.NICKNAME' | translate)"
            [(ngModel)]="client.nickname">
        <div class="w-validation-message">{{ client.getValidationErrors("nickname") | translate }}</div>
    </div>
    <div class="w-input-container">
        <div class="w-label">{{'pages.clients.PHONE_NUMBER' | translate}}</div>
        <input class="w-input" type="text" [style.width]="'100%'"
            placeholder="{{'pages.clients.PHONE_NUMBER' | translate}}" [(ngModel)]="client.phoneNumber">
        <div class="w-validation-message">{{ client.getValidationErrors("phoneNumber") | translate }}</div>
    </div>
    <div class="w-input-container">
        <div class="w-label">{{'pages.clients.EMAIL' | translate}}</div>
        <input class="w-input" type="text" [style.width]="'100%'" placeholder="{{'pages.clients.EMAIL' | translate}}"
            [(ngModel)]="client.email">
        <div class="w-validation-message">{{ client.getValidationErrors("email") | translate }}</div>
    </div>
    <div class="w-input-container">
        <div class="w-label">{{'pages.clients.NOTES' | translate}}</div>
        <textarea class="w-input notes-text-area" type="text" [style.width]="'100%'"
            placeholder="{{'pages.clients.NOTES' | translate}}" [(ngModel)]="client.notes"></textarea>
        <div class="w-validation-message">{{ client.getValidationErrors("notes") | translate }}</div>
    </div>

    <app-action-bar #actionBar>
        <app-action-dropdown [isDropdown]="actionBar.isFloating">
            <app-button *ngIf="!isNew && !client.isArchived" [text]="'DELETE' | translate" icon="trash" color="danger"
                look="solid" [disabled]="isLoading" [isLoading]="isLoadingDelete" (onClick)="deleteClient()">
            </app-button>
            <app-button *ngIf="!isNew && !client.isArchived" [text]="'DO_ARCHIVE' | translate" icon="box-archive"
                color="warning" look="solid" [disabled]="isLoading" [isLoading]="isLoadingArchive"
                (onClick)="archiveClient()">
            </app-button>
            <app-button *ngIf="!isNew && client.isArchived" [text]="'UNARCHIVE' | translate" icon="box-archive"
                color="warning" look="solid" [disabled]="isLoading" [isLoading]="isLoadingArchive"
                (onClick)="unarchiveClient()">
            </app-button>
        </app-action-dropdown>
        <app-button *ngIf="!isNew" icon="calendar-week" (onClick)="goToFilteredAppointments()"></app-button>
        <app-button flex-splitter [text]="'CANCEL' | translate" color="danger" look="normal" [disabled]="isLoading"
            (onClick)="cancel()"></app-button>
        <app-button [text]="'SAVE' | translate" color="success" look="solid" [disabled]="isLoading"
            [isLoading]="isLoadingSave" (onClick)="save()"></app-button>
    </app-action-bar>
</div>