<div class="date-time-chooser-container">
    <app-appointments-scroller [showDateControls]="true" [appointmentsEditable]="false" [(date)]="date" [daysToShow]="1"
        [hiddenAppointmentIds]="[$any(appointment?.id)]" [shadowAppointments]="shadowAppointments"
        [freeTimes]="freeTimesSmartCaching.singleData" (onCalendarClick)="onCalendarClick($event)">
    </app-appointments-scroller>

    <div class="right-side">
        <div class="action-buttons">
            <app-action-bar [style.width.%]="100" [compact]="true">
                <app-button icon="business-time" [isCircle]="false" look="custom"
                    [customBorderColor]="showAnyHour ? 'var(--text)' : 'var(--input-background-color)'"
                    (onClick)="toggleShowAnyHour()">
                </app-button>
                <app-date-selector flex-splitter [(date)]="date" [compact]="true"></app-date-selector>
                <app-button flex-splitter text="{{'CANCEL' | translate}}" color="danger" look="normal"
                    (onClick)="cancel()">
                </app-button>
                <app-button text="{{'OK' | translate}}" color="success" look="solid" (onClick)="ok()"
                    [disabled]="time == null"></app-button>
            </app-action-bar>
        </div>
        <div *ngIf="calendarDay?.workingHours?.length != 0 && hoursData != null && displayHoursData != null && minutesData != null"
            class="time-chooser-container">
            <div *ngIf="showAnyHour">
                <app-button #buttonRef="elementRef" appElementRef class="choose-hour-button" textAlign="center"
                    alignContent="center" width="100%" (onClick)="chooseHourClicked()">

                    <!-- This hidden icon is used for flex spacing, so that selectedHours text is centered and dropdown icon is aligned right -->
                    <fa-icon style="visibility: hidden;" [icon]="['fas', 'caret-down']" [fixedWidth]="true"></fa-icon>

                    <div>{{selectedHours == null ? ('pages.appointments.CHOOSE_HOUR' | translate) : selectedHours.toString().padStart(2, '0')}}</div>
                    <fa-icon [icon]="['fas', 'caret-down']" [fixedWidth]="true"></fa-icon>
                </app-button>

                <app-context-menu #hoursContextMenu [relativeTo]="buttonRef.elementRef" [copyOriginWidth]="true">
                    <div class="all-hour-buttons">
                        <app-time-button #hoursContextMenuButtons *ngFor="let h of hoursData" [data]="h"
                            [ngClass]="{'selected': selectedHours == h.time}" [selected]="selectedHours == h.time"
                            [containsSelection]="getContainsSelection(h.time, 0)"
                            (click)="selectHours(h.time); hoursContextMenu.close()">
                        </app-time-button>
                    </div>
                </app-context-menu>
            </div>
            <div *ngIf="!showAnyHour" class="hour-buttons">
                <app-time-button *ngFor="let h of displayHoursData" [data]="h" [selected]="selectedHours == h.time"
                    [containsSelection]="getContainsSelection(h.time, 0)" (click)="selectHours(h.time)">
                </app-time-button>
            </div>
            <div class="minutes-buttons-container">
                <div class="minutes-buttons">
                    <app-time-button *ngFor="let m of minutesData[$any(selectedHours)]" [data]="m"
                        [selected]="selectedMinutes == m.time"
                        [containsSelection]="getContainsSelection($any(selectedHours), m.time)"
                        (click)="selectMinutes(m.time)"></app-time-button>
                </div>
            </div>
        </div>

        <div *ngIf="calendarDay?.workingHours?.length == 0" class="facility-closed">
            {{"pages.appointments.CLOSED" | translate}}
            <app-button icon="pen" text="{{'pages.appointments.EDIT_WORKING_HOURS' | translate}}"
                (onClick)="goToWorkingHours()"></app-button>
        </div>
    </div>
</div>