.date-time-chooser-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding-bottom: 90px;
}

.right-side {
    display: grid;
    grid-template-rows: 50px 1fr;
}

.action-buttons {
    display: flex;
    align-items: center;
}

.time-chooser-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.choose-hour-button {
    ::ng-deep & > div {
        justify-content: space-between !important;
    }
    position: sticky;
    top: 100px;
}

.all-hour-buttons {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding-right: 8px;

    & app-time-button {
        min-height: 40px;
    }
}

.hour-buttons {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(30px, 1fr));
    gap: 2px;
}

.minutes-buttons {
    position: sticky;
    top: 100px;

    height: 65vh;

    display: grid;
    grid-template-rows: repeat(12, 1fr);
    gap: 2px;
}

.facility-closed {
    font-size: 1.5rem;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
