.my-wrapper {
    display: flex;
    align-content: center;
}

.my-container {
    width: 50vw;
    margin: auto;
    min-width: 350px;
    max-width: 500px;
    padding: 20px;
}

input {
    width: 100%;
}

.register {
    margin-top: 10px;
}