.current-date {
    position: sticky;
    top: 0;

    z-index: 1;

    margin-top: -0.5rem;
    margin-bottom: 10px;

    display: flex;
    flex-direction: column;

    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;

    border-bottom-left-radius: var(--default-border-radius);
    border-bottom-right-radius: var(--default-border-radius);
    background-color: rgb(var(--rgb-input-background));
    box-shadow: 0 4px 9px 0px rgba(0, 0, 0, 0.3);

    .date-absolute {
        font-size: 1.1rem;
        font-weight: bold;
        line-height: 1.15;
    }

    .date-relative {
        font-size: 0.8rem;
        line-height: 1.1;
    }
}

.date {
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 20px;

    .date-absolute {
        font-size: 1.1rem;
        font-weight: bold;
        line-height: 1.15;
    }

    .date-relative {
        font-size: 0.8rem;
        line-height: 1.1;
    }

    &.empty-date {
        padding-top: 24px;
        padding-bottom: 24px;

        .date-absolute {
            font-size: 1rem;
            font-weight: normal;
            opacity: 0.4;
        }

        .date-relative {
            opacity: 0.4;
        }
    }
}

.no-appointments {
    text-align: center;
    font-size: 1.5rem;
    opacity: 0.4;

    padding: 30px 30px;

    &.big {
        height: calc(100vh - var(--navigation-bar-bottom-offset) - 64px - 90px - 95px);
    }
}

.loading-more {
    height: 150px;
    position: relative;
}