html {
    @import "light-theme";
}

html[color-scheme="light"] {
    @import "light-theme";
}

html[color-scheme="dark"] {
    @import "dark-theme";
}

@media (prefers-color-scheme: dark) {
    html[color-scheme="follow-os"] {
        @import "dark-theme";
    }
}

@media (prefers-color-scheme: light) {
    html[color-scheme="follow-os"] {
        @import "light-theme";
    }
}

* {
    --default-border-radius: 4px;
    --navigation-bar-height: 64px;

    color: inherit;
}

body {
    font-size: 1.0rem;

    color: rgb(var(--rgb-text));
}

.w-card {
    position: relative;
    background-color: rgb(var(--rgb-card-background));
    padding: 10px;
    border-radius: var(--default-border-radius);
}

.w-overlay,
.w-overlay-dark {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: var(--default-border-radius);

    &:hover {
        background-color: rgba(var(--rgb-anti-text), 0.2);
    }

    &-dark:hover {
        background-color: rgba(var(--rgb-text), 0.1);
    }
}

.w-clickable {
    cursor: pointer;
    position: relative;

    & .w-overlay:active {
        background-color: rgba(var(--rgb-text), 0.1);
    }

    & .w-overlay-dark:active {
        background-color: rgba(var(--rgb-text), 0.2);
    }
}

.w-input-container {
    margin-bottom: 15px;
}

.w-label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 5px;
}

.w-toggle-switch-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 5px;
}

.w-input {
    background-color: rgb(var(--rgb-input-background));
    padding: 6px 15px;
    border-radius: var(--default-border-radius);
    border: 1px solid rgb(var(--rgb-input-border));
    font-size: 1rem;

    &:focus {
        outline: 1px solid rgb(var(--rgb-focus-outline));
    }
}

.w-validation-message {
    color: rgb(var(--rgb-danger));
    font-size: 0.9rem;
    margin-left: 2px;
    margin-top: 1px;
}

.w-title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.w-subtitle {
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
}

.display-none {
    display: none !important;
}