:host {
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;

  margin: 0 20px;
  padding: 15px 20px;

  font-size: 1rem;
  text-align: center;

  color: rgb(var(--rgb-toast-text));
  background-color: rgb(var(--rgb-toast-background));
  border-radius: 15px;
  box-shadow: 0 0 20px -4px black;

  opacity: 0;
  transform: translateY(100%);
  transition: all 0.3s ease-in-out;

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
}

.toast-icon {
  &.color {
    &-success {
      color: rgb(var(--rgb-success));
    }
    &-danger {
      color: rgb(var(--rgb-danger));
    }
    &-warning {
      color: rgb(var(--rgb-warning));
    }
    &-normal {
      color: rgb(var(--rgb-normal));
    }
    &-custom {
      color: var(--custom-icon-color);
    }
  }
}

:host::ng-deep {
  .actions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
    gap: 5px;

    app-button {
      div.my-button {
        color: rgb(var(--rgb-toast-text));

        &.my-disabled {
          color: rgb(var(--rgb-disabled));
        }

        font-weight: bold;

        padding: 6px 6px;
      }
    }
  }
}
