<div class="date-time-chooser-container">
    <app-appointments-scroller [showDateControls]="true" [(date)]="date" [daysToShow]="1"
        [shadowAppointments]="shadowAppointments" [freeTimes]="freeTimesSmartCaching.singleData" (onCalendarClick)="onCalendarClick($event)">
    </app-appointments-scroller>

    <div class="right-side">
        <div class="action-buttons">
            <app-button text="{{'CANCEL' | translate}}" color="danger" look="normal" (onClick)="cancel()"></app-button>
            <app-button text="{{'OK' | translate}}" color="success" look="solid" (onClick)="ok()"
                [disabled]="time == null"></app-button>
        </div>
        <div *ngIf="calendarDay?.workingHours?.length != 0 && hoursData != null && displayHoursData != null && minutesData != null"
            class="time-chooser-container">
            <div class="hour-buttons">
                <div *ngFor="let h of displayHoursData" class="time-button-container" (click)="selectHours(h.time)">

                    <div *ngFor="let ap of h.renderedAppointments" class="rendered-appointment"
                        [style.top]="ap.top + '%'" [style.height]="ap.height + '%'" [style.backgroundColor]="ap.color">
                    </div>

                    <div class="time-button w-clickable" [ngClass]="{'selected': selectedHours == h.time}">
                        {{h.time.toString().padStart(2, '0')}}
                        <div class="w-overlay"></div>
                    </div>
                </div>
            </div>
            <div class="minutes-buttons-container">
                <div class="minutes-buttons">
                    <div *ngFor="let m of minutesData[$any(selectedHours)]" class="time-button-container"
                        (click)="selectMinutes(m.time)">

                        <div *ngFor="let ap of m.renderedAppointments" class="rendered-appointment"
                            [style.top]="ap.top + '%'" [style.height]="ap.height + '%'"
                            [style.backgroundColor]="ap.color">
                        </div>

                        <div class="time-button w-clickable" [ngClass]="{'selected': selectedMinutes == m.time}">
                            {{m.time.toString().padStart(2, '0')}}
                            <div class="w-overlay"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="calendarDay?.workingHours?.length == 0" class="facility-closed">
            {{"pages.appointments.CLOSED" | translate}}
            <app-button icon="pen" text="{{'pages.appointments.EDIT_WORKING_HOURS' | translate}}"
                (onClick)="goToWorkingHours()"></app-button>
        </div>
    </div>
</div>