<div class="all-day-list" [attr.data-test]="testPrefix + '-all-day-timeoff-list'">
  <div class="all-day-header">
    <fa-icon [icon]="['fas', 'umbrella-beach']" aria-hidden="true"></fa-icon>
    <div class="all-day-heading">
      <div class="all-day-title">{{ "pages.time-off.ALL_DAY_TIME_OFF" | translate }}</div>
      <div class="all-day-date" *ngIf="date">{{ date.format("dddd, DD.MM.YYYY") }}</div>
    </div>
  </div>
  <div class="all-day-rows">
    <div *ngFor="let o of occurrences" class="all-day-list-row"
      [attr.data-test]="testPrefix + '-all-day-timeoff-row'" (click)="pick.emit(o.id)">
      <fa-icon [icon]="['fas', 'umbrella-beach']" aria-hidden="true"></fa-icon>
      <span class="all-day-list-label">{{ o.label }}</span>
      <fa-icon class="all-day-chevron" icon="angle-right" aria-hidden="true"></fa-icon>
    </div>
  </div>
</div>
