<div class="my-container">
    <app-button #mainButton="elementRef" appElementRef
        [text]="value == null ? (selectString | translate) : display(value)" look="outlined" borderWidth="1px"
        [icon]="hasIcon ? 'caret-down' : undefined" iconPlacement="right"
        alignContent="center" (onClick)="contextMenu.toggle()">
    </app-button>

    <app-context-menu #contextMenu [relativeTo]="mainButton.elementRef">
        <app-button *ngFor="let item of items" [text]="display(item)" [ngClass]="{'selected': value == item}"
            (onClick)="select(item); $event.stopImmediatePropagation()">
        </app-button>
        <div *ngIf="items == null || items.length == 0">
            No items...
        </div>
    </app-context-menu>
</div>