.my-container {
    position: relative;
    display: inline-block;
}

.selected {
    font-weight: bold;
}

app-button {
    white-space: nowrap;
}

:host(.full-width),
:host(.full-width) .my-container,
:host(.full-width) app-button {
    display: block;
}