<div *ngFor="let ap of data.renderedAppointments" class="rendered-appointment" [style.top.%]="ap.top"
    [style.left.%]="ap.left" [style.height.%]="ap.height" [style.width.%]="ap.width" [style.backgroundColor]="ap.color">
</div>

<div class="time-status" [ngClass]="data.isFreeTime ? 'free-time' : 'taken-time'">
    <div *ngIf="!data.isFreeTimeIncluding"></div>
</div>
<div *ngIf="!data.isWorkingHour" class="time-status closed-time">
    <div></div>
</div>

<div class="time-button w-clickable"
    [ngClass]="{'selected': selected, 'contains-selection': containsSelection}">
    {{data.time.toString().padStart(2, '0')}}
    <div class="w-overlay"></div>
</div>