<ng-template #template>
    <ng-content #content></ng-content>
</ng-template>

<ng-container *ngIf="isDropdown && !isEmpty">
    <app-button #mainButton="elementRef" appElementRef icon="ellipsis-vertical" look="custom"
        [style.height.%]="100" [style.width.%]="100" [isLoading]="isLoading" customBorderColor="rgba(0,0,0,0)" alignContent="center"
        (onClick)="contextMenu.toggle()">
    </app-button>

    <app-context-menu #contextMenu [relativeTo]="mainButton.elementRef">
        <div class="my-dropdown-wrapper">
            <ng-container *ngTemplateOutlet="template"></ng-container>
        </div>
    </app-context-menu>
</ng-container>
<ng-container *ngIf="!isDropdown">
    <div class="my-wrapper">
        <ng-container *ngTemplateOutlet="template"></ng-container>
    </div>
</ng-container>