<div class="sticky-header" [ngClass]="{'date-today': date?.isSame(getNowDate(), 'day')}">
    <div *ngIf="!showDateControls" class="date-container">
        <div>{{date?.format("ddd")}}</div>
        <div>{{date?.format("D.M.YY")}}</div>
    </div>
    <div *ngIf="showDateControls" [style.height]="'100%'">
        <div class="date-controls">
            <app-button class="arrow-button" icon="angle-left" alignContent="center" [isCircle]="false" [curved]="false"
                look="transparent" [curvedBottomLeft]="true" [curvedTopLeft]="true" [curvedBottomRight]="false"
                [curvedTopRight]="false" (onClick)="dateControlPrevious.emit()">
            </app-button>
            <app-button class="date-button" [text]="date?.format('ddd DD.MM.YY') ?? ''" alignContent="center"
                look="transparent" [curved]="false" (onClick)="calendarDialog.open()">
            </app-button>
            <app-button class="arrow-button" icon="angle-right" alignContent="center" [isCircle]="false"
                [curved]="false" look="transparent" [curvedBottomLeft]="false" [curvedTopLeft]="false"
                [curvedBottomRight]="true" [curvedTopRight]="true" (onClick)="dateControlNext.emit()">
            </app-button>
        </div>

        <app-calendar-dialog #calendarDialog [date]="$any(date)" (dateChange)="dateControlSelect.emit($event)"></app-calendar-dialog>
    </div>
</div>
<div class="body-container">
    <div #timeBackground class="time-background" (click)="onTimeBackgroundClick($event)">
        <table>
            <tr *ngFor="let h of getHoursToRender()" [style.height]="(h.heightPercentage * 100) + '%'">
                <td>
                    <div class="hour-display">{{h.hour}}</div>
                </td>
            </tr>
        </table>
    </div>

    <div *ngIf="appointments != null">
        <div *ngFor="let ap of renderedAppointments" class="single-appointment" [style.top.%]="ap.top"
            [style.left.%]="ap.left" [style.height.%]="ap.height" [style.width.%]="ap.width"
            [style.backgroundColor]="ap.color" (click)="onAppointmentClick(ap.source)">
            <div class="appointment-time">
                {{ap.time}}
            </div>
            <div class="appointment-service-name">
                {{ap.source.service?.name}}
            </div>
        </div>
    </div>

    <div *ngFor="let rts of renderedTimeStatuses" class="time-status" [ngClass]="rts.source" [style.top]="rts.top + '%'"
        [style.height]="rts.height + '%'">
        <div></div>
    </div>

    <div *ngFor="let ap of renderedShadowAppointments" class="single-appointment shadow-appointment"
        [style.top.%]="ap.top" [style.left.%]="ap.left" [style.height.%]="ap.height" [style.width.%]="ap.width"
        [style.backgroundColor]="ap.color">
        <div class="appointment-time">
            {{ap.time}}
        </div>
        <div class="appointment-service-name">
            {{ap.source.service?.name}}
        </div>
    </div>

    <div *ngIf="date != null && date.isSame(getNowDate(), 'day') && currentTimeIndicatorTop >= 0 && currentTimeIndicatorTop < 100"
        class="current-time-indicator" [style.top]="currentTimeIndicatorTop + '%'"></div>
</div>

<app-loading *ngIf="appointments == null"></app-loading>

<app-dialog #appointmentDialog>
    <app-single-appointment *ngIf="appointmentDialog.isOpen" [id]="viewAppointmentId" [editable]="appointmentsEditable"
        (onDone)="closeAppointmentDialog()"></app-single-appointment>
</app-dialog>